<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link th:href="@{css/mdb.min.css}" href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link th:href="@{css/style.css}" href="css/style.css" rel="stylesheet">


</head>