<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <title>Index</title>
</head>
<body>
<nav th:replace="navbar :: superCoolNavbar"></nav>


<div>
    <span> <a href="/" th:href="@{/newEvent}" th:text="AddEvent">dummyEvent</a></span>
</div>

</body>
</html>
