<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-header :: common-header">
    <nav th:replace="navbar :: superCoolNavbar"></nav>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <title>Log In</title>
</head>
<body th:style="'background: url(/img/event/cover-event.png) no-repeat center bottom fixed;'">


<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 align="center">Login</h1>
            <form th:action="@{/login}" method="post">
                <fieldset>
                <div th:if="${param.error}">
                        Invalid username or password.
                    </div>
                <div th:if="${param.logout}">
                        You have been logged out.
                    </div>
                    <div class="alert alert-danger">
                </div>
                <div class="form-group">
                    <label th:text="E-mail" for="username">dummyEmail</label>
                    <input type="email"
                           id="username"
                           name="username"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="E-mail"/>
                </div>
                <div class="form-group">
                    <label th:text="password" for="password">Password</label>
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control"
                           placeholder="Password"/>
                </div>
                </fieldset>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit"
                                   name="submit"
                                   id="submit"
                                   class="form-control btn btn-info"
                                   value="Log In"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <span><b> New user? </b><a href="/" th:href="@{/register}"><b>Register here</b></a></span>
                </div>
            </form>
            <!--<form th:action="@{/login}" method="post" class="text-center">-->
                <!--<fieldset>-->
                    <!--<div th:if="${param.error}">Invalid username and password.</div>-->
                    <!--<div th:if="${param.logout}">You have been logged out.</div>-->
                    <!--<div class="alert alert-danger">-->
                        <!--<label th:text="#{email.label}" for="username">dummyEmail</label>-->
                        <!--<input type="email" id="username" name="username" class="form-group">-->
                    <!--</div>-->
                    <!--<div class="md-form">-->
                        <!--<label th:text="#{password.label}" for="password">dummyPassword</label>-->
                        <!--<input type="password" id="password" name="password" class="form-control">-->
                    <!--</div>-->
                <!--</fieldset>-->
                <!--<div class="d-flex justify-content-around">-->
                    <!--<div>-->
                        <!--&lt;!&ndash; Remember me &ndash;&gt;-->
                        <!--<div class="form-check">-->
                            <!--<input type="checkbox" class="form-check-input" id="materialLoginFormRemember">-->
                            <!--<label th:text="#{remember.me.label}" class="form-check-label"-->
                                   <!--for="materialLoginFormRemember">dummyRememberMe</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--&lt;!&ndash; Forgot password &ndash;&gt;-->
                        <!--<a th:text="#{forgot.password.label}" th:href="@{#}" href="">dummyForgotPassword</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; Sign in button &ndash;&gt;-->
                <!--<button th:text="#{sign.in.label}"-->
                        <!--class="form-control btn btn-info"-->
                        <!--type="submit">dummySignIn-->
                <!--</button>-->
                <!--&lt;!&ndash; Register &ndash;&gt;-->
                <!--<p>Not a member? <a th:href="@{/register}" th:text="#{register.label}" href="">dummyRegister</a>-->
                <!--</p>-->
            <!--</form>-->
        </div>
    </div>


</div>

</body>
</html>