<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="superCoolNavbar" class="navbar navbar-expand-lg navbar-dark primary-color">

    <a th:text="Home" th:href="@{/}" class="btn btn-primary">LukaProject</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a th:text="Register" th:href="@{/register}" class="btn btn-primary">Register
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a th:text="Log+' '+In" th:href="@{/login}" class="btn btn-primary">Log In</a>
        </li>
        <li class="nav-item">
            <a th:text="New+' '+Event" th:href="@{/newEvent}" class="btn btn-primary">New Event</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Category</a>
                <a class="dropdown-item" href="#">Services</a>
                <a class="dropdown-item" href="#">Location</a>
            </div>
        </li>

    </ul>
<!--    <ul>-->
<!--        <li>-->
<!--            <a th:text="Register" th:href="@{/register}" class="btn btn-primary">Register</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a th:text="LogIn" th:href="@{/login}" class="btn btn-primary">Log In</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a th:text="NewEvent" th:href="@{/events}" class="btn btn-primary">New Event</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a th:text="Home" th:href="@{/}" class="btn btn-primary">Home</a>-->
<!--        </li>-->
<!--    </ul>-->
</nav>
